select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select.form-control::-ms-expand {
  display: none;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ccc;
}

/* Får footeren til å holde seg på bunnen */
* {
margin: 0;
}

/* Får footeren til å holde seg på bunnen */
html, body {
height: 100%;
}

/* Får footeren til å holde seg på bunnen */
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}

/* Får footeren til å holde seg på bunnen */
.footer, .push {
height: 4em;
}

/* Gir alt samme bakgrunnsfarge */
.header, .container, .navbar, body {
  background-color: #f2f2f2;
}

/* Litt mørkere farge på input-bakgrunn */
.form-control {
  background-color: #f2f2f2;
}

.dropdown-menu {
  background-color: #f2f2f2;
  box-shadow: none;
}

.form-control, .form-control-small {
  background-color: #f2f2f2;
  box-shadow: none;
}

/* Fjerner knappestyling */
button {
  border: none;
  background-color: transparent;
}

/* Fjerner linjer fra tabeller */
.borderless tbody tr td, .borderless tbody tr th {
    border: none;
}

/* Tynnere linje under thead i tabeller */
.borderless thead tr th {
  border-bottom: 1px solid #ccc;
}

/* ubesøkt link */
a {
  color: #3679b0;
}

.diagram {
  display: inline-block;
  width: 500px;
  height: 250px;
  margin-bottom: 25px;
}

h3 {
  font-weight: normal;
}

th {
  font-weight: normal;
}

th, td {
  font-size: 0.9em;
}

label {
  font-weight: normal;
}

.midtstilt {
  margin: auto;
  width: 110px;
  padding: 10px;
}

.glyphicon {
  background-color: #f2f2f2;
}

.sentrer {
  text-align: center;
}

.pagination li a {
  color: #4d4d4d;
  background-color: #f2f2f2;
}

.highlight {
    color: #3679b0;
}
