<div class="row">
  <form role="form">
    <div class="col-xs-2">
      <select class="form-control sentrer" id="sel1" ng-model="valgtSesong" ng-change="hentDiagrammer()" ng-options="opt.label for opt in sesonger">
        <option value="">Velg sesong &#9662;</option>
      </select>
    </div>
  </form>
</div>

<br>
<br>
<div ng-show="divisjonHistorikkTabell">

  {{divisjonserviceError}}

  <div class="diagram" google-chart chart="columnChartAntallSpillerePerDivisjon"></div>
  <div class="diagram" google-chart chart="columnChartAntallUavgjortPerDivisjon"></div>
  <div class="diagram" google-chart chart="columnChartAntallWFPoengPerDivisjon"></div>
  <br><br>

  <table class="borderless table table-hover table-condensed">
    <thead>
      <tr>
        <th>Divisjon</th>
        <th>Antall spillere</th>
        <th>Antall uavgjort</th>
        <th>Antall wordfeudpoeng</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="obj in divisjonHistorikkTabell">
        <td class="col-md-2">{{obj.divisjon | number}}</td>
        <td class="col-md-2">{{obj.antall_spillere | number}}</td>
        <td class="col-md-2">{{obj.antall_uavgjort | number}}</td>
        <td class="col-md-2">{{obj.antall_wfpoeng | number}}</td>
      </tr>
    </tbody>
  </table>
</div>
