<div class="row">
  <form role="form">
    <div class="form-group">
      <div class="col-xs-2 sentrer">
        <select class="form-control sentrer" id="sel1" ng-model="valgtSesong" ng-change="oppdaterDivisjoner()" ng-options="opt.label for opt in sesonger">
          <option value="">Velg sesong &#9662;</option>
        </select>
      </div>
      <div class="col-xs-2">
        <select class="form-control sentrer" id="sel2" ng-model="valgtDivisjon" ng-change="hentDiagrammer()" ng-options="opt.label for opt in divisjoner">
          <option value="">Velg divisjon &#9662;</option>
        </select>
      </div>
    </div>
  </form>
</div>

<br>
<br>
<div ng-show="gruppeHistorikkTabell">

  {{grupperserviceError}}

  <div class="diagram" google-chart chart="columnChartAntallWFPoengPerGruppe"></div>
  <div class="diagram" google-chart chart="histogramAntallWFPoengPerGruppe"></div>
  <br>
  <br>
  <br>

  <table class="borderless table table-hover table-condensed">
    <thead>
      <tr>
        <th>Gruppe</th>
        <th>Antall spillere</th>
        <th>Antall uavgjort</th>
        <th>Antall wordfeudpoeng</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="obj in gruppeHistorikkTabell | limitTo: limit">
        <td class="col-md-2">{{obj.gruppe | number}}</td>
        <td class="col-md-2">{{obj.antall_spillere | number}}</td>
        <td class="col-md-2">{{obj.antall_uavgjort | number}}</td>
        <td class="col-md-2">{{obj.antall_wfpoeng | number}}</td>
      </tr>
    </tbody>
  </table>

  <nav>
    <ul class="pagination pagination-sm">
      <li>
        <a ng-click="decrementLimit()" aria-label="Previous">
          -10
        </a>
      </li>
      <li>
        <a ng-click="maxLimit()">
          Alle
        </a>
      <li>
        <a ng-click="incrementLimit()" aria-label="Next">
          +10
        </a>
      </li>
    </ul>
  </nav>

</div>
