
<br>

<h3>Topp 10</h3>

<div class="row">
    <div class="col-md-1">
        <button data-toggle="collapse" data-target="#søkefelt,#spillerTable" aria-expanded="false" aria-controls="søkefelt,spillerTable"><span title="Søk etter en spiller" class="glyphicon glyphicon-search"></span></button>
    </div>
    <div class="col-md-11">
        <div class="collapse" id="søkefelt">
            <div angucomplete-alt
                placeholder="Søk etter spiller"
                maxlength="50"
                pause="400"
                selected-object="$root.valgtSpiller"
                local-data="spillereRank"
                search-fields="Navn"
                title-field="Navn"
                minlength="2"
                input-class="form-control form-control-small"
                match-class="highlight"
                clear-selected="true">
            </div>
        </div>
    </div>
</div>

<table ng-show="valgtSpiller" class="borderless table table-hover table-condensed collapse" id="spillerTable">
    <tbody>
      <tr>
          <td class="col-md-4">Navn</td>
          <td class="col-md-4"><a href="#/spillere">{{valgtSpiller.description.Navn}}</a></td>
      </tr>
        <tr>
            <td class="col-md-4">Rank</td>
            <td class="col-md-4">{{valgtSpiller.description.Rank}}</td>
        </tr>
        <tr>
            <td class="col-md-4">Rating</td>
            <td class="col-md-4">{{valgtSpiller.description.Rating | number: 0}}</td>
        </tr>
        <tr>
            <td class="col-md-4">Antall spilte sesonger</td>
            <td class="col-md-4">{{valgtSpiller.description.TotaltSpilteSesonger}}</td>
        </tr>
    </tbody>
</table>


<br>
<table class="borderless table table-hover table-condensed">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Navn</th>
            <th>Antall spilte sesonger</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="rank in spillereRank | limitTo: 10">
            <td class="col-md-2">{{rank.Rank}}</td>
            <td class="col-md-2" ng-click="valgtSpiller.description = rank"><a href="#/spillere">{{rank.Navn}}</a></td>
            <td class="col-md-2">{{rank.TotaltSpilteSesonger}}</td>
            <td class="col-md-2">{{rank.Rating | number: 0}}</td>
        </tr>
    </tbody>
</table>
