<div ng-show="antallSpillerePerSesong">

    {{sesongserviceError}}

    <div class="diagram" google-chart chart="areaChartAntallSpillerePerSesong"></div>
    <div class="diagram" google-chart chart="areaChartAntallUavgjortPerSesong"></div>
    <div class="diagram" google-chart chart="areaChartAntallWFPoengPerSesong"></div>
    <br>
    <br>
    <div ng-show="sesongHistorikkTabell">
        <table class="borderless table table-hover table-condensed">
            <thead>
                <tr>
                    <th>Sesong</th>
                    <th>Antall divisjoner</th>
                    <th>Antall spillere</th>
                    <th>Antall uavgjort</th>
                    <th>Antall wordfeudpoeng</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in sesongHistorikkTabell | orderBy: '-sesong' | limitTo: limit">
                    <td class="col-md-2">{{obj.sesong | number}}</td>
                    <td class="col-md-2">{{obj.antall_divisjoner | number}}</td>
                    <td class="col-md-2">{{obj.antall_spillere | number}}</td>
                    <td class="col-md-2">{{obj.antall_uavgjort | number}}</td>
                    <td class="col-md-2">{{obj.antall_wfpoeng | number}}</td>
                </tr>
            </tbody>
        </table>

        <nav>
          <ul class="pagination pagination-sm">
            <li>
              <a ng-click="decrementLimit()" aria-label="Previous">
                -10
              </a>
            </li>
            <li>
              <a ng-click="maxLimit()">
                Alle
              </a>
            <li>
              <a ng-click="incrementLimit()" aria-label="Next">
                +10
              </a>
            </li>
          </ul>
        </nav>

</div>
