<h3>{{valgtSpiller.description.Navn}}</h3>

<div class="row">
    <div class="col-md-1">
        <button data-toggle="collapse" data-target="#søkefelt,#søkefelt2" aria-expanded="false" aria-controls="søkefelt,søkefelt2"><span title="Søk etter en spiller" class="glyphicon glyphicon-search"></span></button>
    </div>
    <div class="col-md-11">
        <div class="collapse" id="søkefelt">
            <div angucomplete-alt
                placeholder="Søk etter spiller"
                maxlength="50"
                pause="400"
                selected-object="$root.valgtSpiller"
                local-data="spillereRank"
                search-fields="Navn"
                title-field="Navn"
                minlength="2"
                input-class="form-control form-control-small"
                match-class="highlight"
                clear-selected="true">
            </div>
        </div>
        <br>
        <div class="collapse" id="søkefelt2">
            <div angucomplete-alt
                placeholder="Søk etter spiller for sammenlikning"
                maxlength="50"
                pause="400"
                selected-object="spiller2"
                local-data="spillereRank"
                search-fields="Navn"
                title-field="Navn"
                minlength="2"
                input-class="form-control form-control-small"
                match-class="highlight"
                clear-selected="true">
            </div>
        </div>
    </div>
</div>
<br>

<div ng-show="spillerFunnet">

    <div ng-if="spiller2">
        <table class=" borderless table table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th>{{valgtSpiller.description.Navn}}</th>
                    <th>{{spiller2.description.Navn}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-md-4">Rank</td>
                    <td class="col-md-4">{{valgtSpiller.description.Rank}}</td>
                    <td class="col-md-4">{{spiller2.description.Rank}}</td>
                </tr>
                <tr>
                    <td class="col-md-4">Rating</td>
                    <td class="col-md-4">{{valgtSpiller.description.Rating | number: 0}}</td>
                    <td class="col-md-4">{{spiller2.description.Rating | number: 0}}</td>
                </tr>
                <tr>
                    <td class="col-md-4">Antall spilte sesonger</td>
                    <td class="col-md-4">{{valgtSpiller.description.TotaltSpilteSesonger}}</td>
                    <td class="col-md-4">{{spiller2.description.TotaltSpilteSesonger}}</td>
                </tr>
                <tr>
                    <td class="col-md-4">Divisjon</td>
                    <td class="col-md-4">{{spillerFunnet.Resultater[spillerFunnet.Resultater.length-1].Divisjon}}</td>
                    <td class="col-md-4">{{spiller2Funnet.Resultater[spiller2Funnet.Resultater.length-1].Divisjon}}</td>
                </tr>
                <tr>
                    <td class="col-md-4">Sted</td>
                    <td class="col-md-4">{{spillerFunnet.Sted}}</td>
                    <td class="col-md-4">{{spiller2Funnet.Sted}}</td>
                </tr>
                <tr>
                    <td class="col-md-4">Født</td>
                    <td class="col-md-4">{{spillerFunnet.Fodt}}</td>
                    <td class="col-md-4">{{spiller2Funnet.Fodt}}</td>
                </tr>
                <tr ng-show="kampSanns">
                    <td class="col-md-4">Sannsynlighet for kampseier</td>
                    <td class="col-md-4">{{kampSanns.Sannsynlighet}}%</td>
                    <td class="col-md-4">{{100-kampSanns.Sannsynlighet}}%</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-if="!spiller2">
        <table class="borderless table table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th>{{valgtSpiller.description.Navn}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-md-4">Rank</td>
                    <td class="col-md-4">{{valgtSpiller.description.Rank}}</td>
                </tr>
                <tr>
                    <td class="col-md-4">Rating</td>
                    <td class="col-md-4">{{valgtSpiller.description.Rating | number: 0}}</td>
                </tr>
                <tr>
                    <td class="col-md-4">Antall spilte sesonger</td>
                    <td class="col-md-4">{{valgtSpiller.description.TotaltSpilteSesonger}}</td>
                </tr>
                <tr>
                    <td class="col-md-4">Divisjon</td>
                    <td class="col-md-4">{{spillerFunnet.Resultater[spillerFunnet.Resultater.length-1].Divisjon}}</td>
                </tr>
                <tr>
                    <td class="col-md-4">Sted</td>
                    <td class="col-md-4">{{spillerFunnet.Sted}}</td>
                </tr>
                <tr>
                    <td class="col-md-4">Født</td>
                    <td class="col-md-4">{{spillerFunnet.Fodt}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <br>

    <div class="diagram" google-chart chart="stackedColumnChartSpillerSoek"></div>
    <div class="diagram" google-chart chart="areaChartSpillerRanking"></div>

    <p>{{antSesongerBeskjed}}</p>

        <div ng-if="tiSisteVises">
            <a ng-click="seAlle()">Se alle sesonger</a>
        </div>
        <div ng-if="!tiSisteVises">
            <a ng-click="tiSiste()">Se ti siste sesonger</a>
        </div>

        <br>
        <br>
        <br>

</div>
